# Dependencies
/vendor/
/node_modules/

# Environment
.env
.env.*
!.env.example

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
/logs/
*.log

# Assets
*.map
.history/

# Temp files
*.tmp
*.bak
Limiting/appLimiting.txt
public/uploads/galeria